/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia;
}
body {
    background-color: #000; /* Black color */
    color: #fff; /* Set text color to white for better readability */
}


/* Navbar styles */
.navbar {
    background-color: #383737;
    height: 60px;
    display: flex;
    align-items: center;
}
.nav-logo {
    height: 70px;
    width: auto;
    margin-right: 10px;

    
}
.logo {
    background-image: url("logo\ .png");
    background-size: cover;
 
    height: 60px;
    width: 70px;
    
}
.navbar-nav {
        display: flex;
        justify-content: space-evenly;
        flex-grow: 1;
}

.nav-item {
    margin: 0 5px;
}

.nav-link {
    text-decoration: none;
    color: #ffffff;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: inline-block;
    
    color: #fff;
}

.nav-link:hover {
    background-color: #555;
}
/*home*/

.container {
    padding: 3rem;
}
.slider-wrapper {
    position: relative;
    max-width: 60rem;
    margin: auto auto;
}
.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 44%, 0.788);
    border-radius: 0.5rem;
}
.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #555;
    opacity: 1;
    transition: opacity ease 250ms;
}
#home {
    text-align: center; /* Center align all content */
    margin-top: 50px; 
    font-family: 'Franklin Gothic Medium';
}

#home h2 {
    margin-bottom: 10px; /* Add space below the h2 element */
}

.slider-wrapper {
    display: inline-block; /* Display the slider wrapper as inline-block */
}

/*services*/

#services {
    text-align: center; /* Center align all content */
    margin-top: 50px; 
    font-family: Georgia;
}
#services h2 {
    margin-bottom: 10px; /* Add space below the h2 element */
}
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.card {
    width: 325px;
    background-color: #555;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 50px;
    height: auto;
}
.card img {
    width: auto;
    height: 200px;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;

}
.card-content h3 {
    font-size: 28px;
    margin-bottom: 8px;
}
.card-content p {
    color: beige;
    font-size: 15px;
    margin-bottom: auto;
    margin-top: 5px;
    line-height: 1.3;
}
.card-content .btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff;
    margin-bottom: 10px;
}

/*about us */
.abt h2 {
    font-size: 28px;
    margin-bottom: 8px;
}
.abt img {
    width: 1000px;
    height: auto;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}
.abt p {
    margin-top: 20px;
    text-align: center;
    font-family: serif;
    font-size: 30px;
    align-items: center;
    opacity: 0.7;
}
/*contact*/
#contact-us {
    font-family: sans-serif;
    background-color: black;

}
.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-left-title h2{
    font-weight: 600;
    color: white;
    font-size: 50px;
    margin-bottom: 10px;
    align-items: center;

}
.contact-left-title hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-input {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 600;
    color: black;
    border-radius: 50px;
}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-input:focus {
    border: 4px solid #555;
}
.contact-input::placeholder {
    color: #a9a9a9;
    font-family: sans-serif;
    
}
.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 20px;
    color: black;
    gap: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: #555;
    
}
.contact-left button img {
    height: 15px;
}
.contact-right img{
 width: 500px;
}


#goToTopBtn {
    display: none; /* Hide the button by default */
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #555; /* Change background color as needed */
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    z-index: 1000;
  }
  
  #goToTopBtn:hover {
    background-color: black; /* Change background color on hover */
  }
  